/* this class is to apply an image to the background of the site and under that a color and also to hold the image in place when you scroll unfortunately this isn't supported on iOS. */
html {
  font-family: Verdana;
  background: url(images/battleofnagashinoinfull.jpg);
  background-color: #555;
  background-position: left center;
  background-attachment: fixed;
  margin: 8px;
}

body {
  max-width: 920px;
  margin: auto;
}
/* this class is to make citation links small so they aren't distracting similar to wikipedia.org. */
.cite {
  font-size: 0.65em;
  color: white;
  text-decoration: none;
}
/* this class is for the smaller images contained in the shadowbox and to keep the text from flowing over the image. */
.smallimg {
  margin: 6px;
  float: right;
  border-radius: 4px;
}

/* this class is for bigger images that have there own box, shadow and rounded corners. */
.wideimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid black;
  box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

p {
  font-size: 0.93em;
  text-align: left;
}

article {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.8);
}
form {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 0.93em;
  text-align: center;
}

textarea {
  border-radius: 4px;
  font-size: 0.93em;
  font-family: Verdana;
}

/* This class is to make the content box and surrounding shadow and rounded corners. */
.shadowbox {
  border: 1px solid black;
  background-color: #555;
  margin: 20px;
  box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.shadowform {
  border: 1px solid black;
  background-color: #555;
  margin: 20px;
  box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

/* This is the main navigation button mirroring the same style as the shadowbox. Made with the help of w3schools.com */
.dropbtn {
  background-color: #555;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
}
.contactbtn {
  background-color: #555;
  color: white;
  float: right;
  padding: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* The dropdown menu size, shadow and color made with the help of w3schools.com */
.dropdown-content {
  display: none;
  font-size: 0.82em;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #555;
}

footer i,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  color: white;
  text-decoration: none;
}

/* this class is to mirror the style of the previously used shadow boxes but a little bit wider. */
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  background-color: #555;
  margin: 15px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-align: center;
  font-size: 0.95em;
}
